{# -------------------------------------- #}
{# Templates -> config.j2 #}
{# Role: enterprise1 #}
{# Create at Mon Jul 12 23:21:28 EDT 2021 #}
{# -------------------------------------- #}

hostname {{item.hostname}}
!
{% if item.interfaces is defined %}
{% for interface in item.interfaces %}
interface {{ interface.name }}
 ip address {{ interface.ip }}
 no shutdown
!
{% endfor %}
{% endif %}
!
{% if item.routing_protocols is defined %}
{% for routing_protocol in item.routing_protocols %}
router {{ routing_protocol.type }} {{ routing_protocol.area }}
{% for network in routing_protocol.networks %}
 network {{ network }}
{% endfor %}
{% if routing_protocol.type == "bgp" %}
{% for link in routing_protocol.links %}
 neighbor {{ link.neighbor }} remote-as {{ link.remote_as }}
{% endfor %}
{% if routing_protocol.synchronization %}
 synchronization
{% else %}
 no synchronization
{% endif %}
{% endif %}
{% if routing_protocol.redistributions is defined %}
{% for redistribution in routing_protocol.redistributions %}
 redistribute {{ redistribution }} 
{% endfor %}
{% endif %}
!
{% endfor %}
{% endif %}