{# -------------------------------------- #}
{# Templates -> config.j2 #}
{# Role: logging-on #}
{# Create at Sat 31 Jul 2021 12:47:05 EDT #}
{# -------------------------------------- #}

logging on
logging {{ item.logging_server_ip }}