{# -------------------------------------- #}
{# Templates -> config.j2 #}
{# Role: config-hostname #}
{# Create at Fri 30 Jul 2021 13:19:24 EDT #}
{# -------------------------------------- #}

hostname {{ item.hostname }}