{# -------------------------------------- #}
{# Templates -> config.j2 #}
{# Role: config-snmp #}
{# Create at Wed 21 Jul 2021 10:40:51 EDT #}
{# -------------------------------------- #}
 
snmp-server community {{ item.snmp.community }} RO