{# -------------------------------------- #}
{# Templates -> config.j2 #}
{# Role: isp #}
{# Create at Wed Jul 14 13:28:15 EDT 2021 #}
{# -------------------------------------- #}

{% import "lib/interface.j2" as intf %}
hostname {{item.hostname}}
!
{% if item.interfaces is defined %}
{% for interface in item.interfaces %}
{{ intf.config_interface(interface) }}
{% endfor %}
{% endif %}
!
{% if item.routing_protocols is defined %}
{% for routing_protocol in item.routing_protocols %}
router {{ routing_protocol.type }} {{ routing_protocol.area }}
{% if routing_protocol.networks is defined %}
{% for network in routing_protocol.networks %}
 network {{ network }}
{% endfor %}
{% endif %}
{% if routing_protocol.type == "bgp" %}
{% for link in routing_protocol.links %}
 neighbor {{ link.neighbor }} remote-as {{ link.remote_as }}
{% if link.next_hop_self is defined and link.next_hop_self %}
 neighbor {{ link.neighbor }} next-hop-self
{% endif %}
{% endfor %}
{% if routing_protocol.synchronization is defined and routing_protocol.synchronization %}
 synchronization
{% else %}
 no synchronization
{% endif %}
{% endif %}
{% if routing_protocol.redistributions is defined %}
{% for redistribution in routing_protocol.redistributions %}
 redistribute {{ redistribution }} 
{% endfor %}
{% endif %}
!
{% endfor %}
{% endif %}